.sidenav-wrapper {
	.sidenav {
		--width: 300px;

		.sidenav-header {
			.sidenav-toolbar {
				--background: var(--layout-highlight-color);
				--min-height: 48px;
			}
		}

		.sidenav-content {
			ion-list {
				ion-item {
					ion-label {
						margin-left: 8px;
					}
				}
			}
		}
	}
}